
//colors
$font-color: white;
$app-bg-color: #3d4045;

$card-bg: #303030;
$card-border-color: white;


$primary-color: #E9D849;
$error-color: #ef1d1d;

$disabled-bg: grey;
$disabled-color: $font-color;

//sizes
$font-size: 16px;